html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="OÜ Sigma Research")
    meta(name="author" content="Peeter Meos")

    <title>Business Frontpage - Start Bootstrap Template</title>

    // Bootstrap Core CSS 
    link(href="css/bootstrap.min.css" rel="stylesheet")

    // Custom CSS 
    link(href="css/business-frontpage.css" rel="stylesheet")

    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries 
    // WARNING: Respond.js doesn't work if you view the page via file:
    // if lt IE 9
    // script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
    // script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")

  body
    // Navigation 
    nav(class="navbar navbar-inverse navbar-fixed-top" role="navigation")
      div(class="container")
        // Brand and toggle get grouped for better mobile display -->
        div(class="navbar-header")
          button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="#") Start Bootstrap

        // Collect the nav links, forms, and other content for toggling 
        div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
          ul(class="nav navbar-nav")
            li
              a(href="#") About
            li
              a(href="#") Services
            li
              a(href="#") Contact

    // Image Background Page Header 
    // Note: The background image is set within the business-casual.css file. 
    header(class="business-header")
      div(class="container")
        div(class="row")
          div(class="col-lg-12")
            h1(class="tagline")
              dd Business Name or Tagline

    block content
